@import url('https://fonts.googleapis.com/css2?family=Anta&family=Archivo:ital,wght@0,100..900;1,100..900&family=Kanit&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500&display=swap');
.interview-container {
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 3rem;
  margin-left: 5%;
  width: 90%;
  /* margin-left: 2rem; */
}

.top-mentors-container {
  margin: 5rem 5rem 1.6rem 5rem;
}
.mentor-title-left{
  margin-right: 0.5rem;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
.mentor-title-right{
  color:rgb(106, 99, 244);
  margin-right: 0.5rem;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mentor-title-description{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mentor-cards-wrapper {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 4rem;
  /* margin-left: 1rem; */
  min-width: 50rem;
}
